.vertex {
    height: 40px;
    width: 40px;
    background: radial-gradient(circle, grey 45%, purple 45%);
    background-size: 375% 100%;
    background-position: right bottom;
    transition: background-position 0.66s ease-in;
    position: relative;
    z-index: 1;
    border-radius: 50%;
    margin: 0px;
    justify-content: center;
    vertical-align: middle;
    border: 3px solid black;
}
.vertex:hover {
    background-position: center;
}

.nodeText {
    font-size: 20px;
    margin-top: 20%;
    color: white;
    font-weight: bolder;
}