.controlPanel {
    min-height: 100%;
    background-color: #7aadff;
    z-index: -1;
    border-radius: 4px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.controlContainer {
    min-height: 30%;
    display: flex;
    flex-direction: column;
    background-color: #7aadff;
    border-radius: 4px;
    margin: 10px 10px 0px 10px;
}
