.customNode {
    height: 40px;
    width: 40px;
    position: relative;
    border-radius: 50%;
    margin: 0px;
    justify-content: center;
    vertical-align: middle;
    border: 3px solid black;
    background-color: purple;
}

.nodeText {
    font-size: 20px;
    margin-top: 20%;
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

.visited {
    animation: visitation 1.3s ease-in-out;
}

@keyframes visitation {
    20% {transform: scale(0.8);}
    70% {transform: scale(1.2);}
    100% {transform: scale(1);}
}