.visualizationSpace {
    background: url('../../assets/background.png') whitesmoke;
    min-width: 100%;
    min-height: 75%;
    position: static;
    z-index: -1;
    display: flex;
    align-content: center;
    justify-content: center;

}