.graphNode {
    height: 50px;
    width: 50px;
    background: radial-gradient(circle, grey 45%, purple 45%);
    background-size: 375% 100%;
    background-position: right bottom;
    transition: background-position 1s ease-in;
    position: absolute;
    top: 50vh;
    left: 50%;
    z-index: 1;
    border-radius: 50%;
    margin: 0px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    border: 3px solid black;
}
.graphNode:hover {
    background-position: center;
}

.nodeText {
    font-size: 20px;
    margin-top: 25%;
    color: white;
    font-weight: bolder;
}